.order-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin-bottom: 40px;
  }
}

.order-item {
  background-color: $white;
  border: 1px solid #e5e5e5;

  &-top {
    padding: 20px;
    background-color: #eee;

    &__l {
      margin-bottom: 10px;
    }
  }

  &-body {
    padding: 20px;
  }

  &-footer {
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
  }

  &__p {
    margin-bottom: 10px;
    font-size: 15px;

    .link-custom {
      color: $black;
    }
  }

  &__state {
    display: inline-block;
    padding: 5px 12px;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
    font-weight: 550;
  }

  &__ico {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &-imgs {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;

    img {
      max-width: 70px;
    }
  }

  &-price {
    background-color: #eee;
    padding: 25px 15px;

    &__col {

      &.is-l {
        width: 60%;
      }
      &.is-r {
        width: 40%;
        text-align: right
      }
    }

    &__ico {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
}

.order-item--inner {
  position: relative;
  border: none;

  .order-item-top {
    padding: 0;
    background-color: transparent;
  }
}

@include media-breakpoint-up(md) {

  .order-item {

    &-top {
      display: flex;
      justify-content: space-between;
      padding: 25px 35px;

      &__l {
        flex-grow: 1;
        padding-right: 20px;
      }

      &__r {
        width: 30%;
      }
    }

    &-body {
      display: flex;
      justify-content: space-between;
      padding: 25px 35px;

      &__l {
        width: 40%;
        padding-right: 20px;
      }

      &__r {
        flex-grow: 1;
      }
    }

    &-footer {
      padding: 20px 35px;
    }

    &-price {
      position: absolute;
      z-index: 2;
      top: 90px;
      right: 0;
      width: 360px;
      padding-right: 40px;
    }
  }

  .order-item--inner {
    padding-right: 400px;
  }
}
