$gray: #757575;

//
// Base styles
//

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 5px 10px;
  border: 1px solid transparent;
  font-size: 13px;
  text-decoration: none;
  transition: .15s ease-in;

  &:focus,
  &.focus {
    outline: 0;
  }

  &-gray {
    border-color: $gray;
    color: $gray;

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;
      color: $white;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
