$h-color: #090909;
//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $h-color;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    border-bottom-color: transparent;
  }
}

h1, .h1 { }
h2, .h2 {
  margin-bottom: 15px;
  font-size: 34px;
  line-height: 1.2;

  &--bb {
    display: inline-block;
    border-bottom: 2px solid $blue;
  }
}
h3, .h3 { }
h4, .h4 { }
h5, .h5 { }
h6, .h6 { }

//
// Horizontal rules
//

hr {

}


//
// Emphasis
//

small,
.small {

}

mark,
.mark {

}


//
// Lists
//

.list-unstyled {

}
