.intro-slider {
  max-width: 1180px;
  margin: 0 auto;

  &-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    padding: 10px 40px;

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, .15);
    }

    &__inner {
      position: relative;
      z-index: 5;
    }

    &__title {
      margin-bottom: 20px;
      color: $white;
      font-size: 40px;
      line-height: 1;
    }

    &__p {
      margin-bottom: 10px;
      color: $white;
      font-size: 13px;
      line-height: 1.4;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 1px !important;
    background-color: #c8c8c8;
    opacity: 1;

    &-active {
      background-color: #252525
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 0 15px;

    &-slide {
      padding: 30px 65px;

      &__inner {
        max-width: 410px;
      }

      &__title {
        font-size: 56px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 0;

    &-slide {
      padding: 30px 50px;

      &__inner {
        max-width: 600px;
      }

      &__title {
        font-size: 85px;
      }

      &__p {
        font-size: 20px;
      }
    }

    .swiper-container {
      padding-bottom: 30px;
    }

    .swiper-pagination {
      display: block;
      bottom: 0;
    }
  }
}
