.section {
  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-col {

    &--sm {
      position: relative;
      width: 0px;
    }

    &--lg {
      width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {

    &-col {

      &--sm {
        display: block;
        width: 24%;
      }

      &--lg {
        width: 72%;
      }
    }
  }
}
