<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
    <li class="breadcrumb-item"><a href="#">Каталог</a></li>
    <li class="breadcrumb-item"><a href="#">Обувь</a></li>
    <li class="breadcrumb-item"><a href="#">Тактические ботинки brandcamp B1 с ножом</a></li>
    <li class="breadcrumb-item active">Корзина</li>
</ul>
