<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-row header-row--frst">
                <div class="header-col">
                    <a href="#" class="header__link-lct">
                        <span class="header__link-lct__ico">
                            {% include "./svg/i-map2.svg" %}
                        </span> Чебоксары
                    </a>
                </div>
                <div class="header-col">
                    <ul class="header__list">
                        <li>
                            <a href="#" class="header-link">Пункт выдачи заказов</a>
                        </li>
                        <li>
                            <a href="#" class="header-link">Бесплатная доставка</a>
                        </li>
                        <li>
                            <a href="#" class="header-link">Условия доставки</a>
                        </li>
                        <li>
                            <a href="#" class="header-link">Условия оплаты</a>
                        </li>
                        <li>
                            <a href="#" class="header-link">Условия возврата</a>
                        </li>
                        <li>
                            <a href="#" class="header-link">Помощь</a>
                        </li>
                    </ul>
                </div>
                <div class="header-col">
                    <div class="d-flex">
                        <a href="tel:8 800 550 35 69" class="header__link-phn">8 800 550 35 69</a>
                        <div class="relative">
                            <a href="#nav-lng" class="header__link-lng js-nav-lng">
                                <img src="images/svg/i-earth.svg" alt="" width="16" height="16">
                                RU
                                <span class="header__link-lng__ico">{% include "./svg/i-check.svg" %}</span>
                            </a>
                            <ul id="nav-lng" class="nav-list__sub nav-list__sub--lng list-default js-header-dropdown">
                                <li><a href="#" class="header__link-lng">EN</a></li>
                                <li><a href="#" class="header__link-lng">ES</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-row">
                <div class="header-col header-col--br">
                    <button class="header__btn-nav js-btn-nav"><i></i><i></i><i></i></button>
                    <a href="#" class="header-logo">brandcamp</a>
                </div>
                <div class="header-col header-col--form relative">
                    <div class="d-flex">
                        <a href="#" class="header__btn-ct js-header-ct">
                            <span class="header__btn-ct__ico">
                                {% include "./svg/i-catalog.svg" %}
                            </span>
                            Каталог
                        </a>
                        <form class="header-form">
                            <input type="text" class="header-form__input" placeholder="Что вы ищете?">
                            <button type="button" class="header-form__btn">
                                {% include "./svg/i-search.svg" %}
                            </button>
                        </form>
                    </div>
                    <div class="header-catalog js-header-catalog">
                        <a href="#" class="header-catalog__link">Все товары</a>
                        <a href="#" class="header-catalog__link">Снаряжение</a>
                        <a href="#" class="header-catalog__link">Обувь</a>
                        <a href="#" class="header-catalog__link">Одежда</a>
                        <a href="#" class="header-catalog__link">Ремесленные товары</a>
                    </div>
                </div>
                <div class="header-col header-col--hl">
                    <ul class="header__list">
                        <li>
                            <a href="#" class="header-link">
                                <span class="header-link__icon">
                                    {% include "./svg/i-profile.svg" %}
                                </span>
                                <span class="header-link__txt">Войти</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header-link">
                                <span class="header-link__icon">
                                    {% include "./svg/i-box.svg" %}
                                </span>
                                <span class="header-link__txt">Заказы</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header-link">
                                <span class="header-link__icon">
                                    {% include "./svg/i-heart.svg" %}
                                </span>
                                <span class="header-link__txt">Отложенные</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header-link">
                                <span class="header-link__icon">
                                    <span class="header-link__icon__txt">0</span>
                                    {% include "./svg/i-court.svg" %}
                                </span>
                                <span class="header-link__txt">Корзина</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "nav.twig" %}
    {% include "nav-mobile.twig" %}
</header>
