<nav class="nav-mbl js-nav-mbl">
    <div class="nav-mbl-inner">
        <div class="nav-mbl-top">
            <div class="mb-1 relative">
                <a href="#nav-lng-m" class="header__link-lng js-nav-lng">
                    <img src="images/svg/i-earth.svg" alt="" width="16" height="16">
                    RU
                    <span class="header__link-lng__ico">{% include "./svg/i-check.svg" %}</span>
                </a>
                <ul id="nav-lng-m" class="nav-list__sub nav-list__sub--lng list-default">
                    <li>
                        <a href="#" class="header__link-lng">EN</a>
                    </li>
                    <li>
                        <a href="#" class="header__link-lng">ES</a>
                    </li>
                </ul>
            </div>
            <div class="mb-1">
                <a href="#" class="header__link-lct">
                    <span></span>
                    Чебоксары
                </a>
            </div>
            <div>
                <a href="tel:8 800 550 35 69" class="header__link-phn">8 800 550 35 69</a>

            </div>
        </div>
        <div class="nav-mbl-middle">
            <ul class="nav-mbl-nav-list list-default">
                <li>
                    <a href="#" class="nav-mbl__link-nav is-active">Главная</a>
                </li>
                <li>
                    <a href="#nav-about-m" class="nav-mbl__link-nav js-nav-link">
                        О нас
                        <span class="nav__link__ico">{% include "./svg/i-check.svg" %}</span>
                    </a>
                    <ul id="nav-about-m" class="nav-list__sub list-default">
                        <li>
                            <a href="#" class="nav__link">О компании</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Блог</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Новости</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Сотрудничество</a>
                        </li>
                        <li>
                            <a href="#" class="nav__link">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link-nav">Отзывы</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link-nav">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="nav-mbl-bottom">
            <ul class="nav-mbl-list list-default">
                <li>
                    <a href="#" class="nav-mbl__link">Пункт выдачи заказов</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link">Бесплатная доставка</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link">Условия доставки</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link">Условия оплаты</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link">Условия возврата</a>
                </li>
                <li>
                    <a href="#" class="nav-mbl__link">Помощь</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
