{% extends './inc/page.twig' %}

{% block content %}
    <section class="mt-2 mb-5">
        <div class="container">
            {% include "inc/breadcrumb.twig" %}
        </div>
    </section>

    <section class="container section-row mb-4">
        <div class="section-col section-col--sm">
            {% include "inc/pages/lk/aside-nav-3.twig" %}
        </div>
        <div class="section-col section-col--lg">
            <div class="mb-3">
                <img src="images/temp/banner.jpg" alt="" class="w-100p">
            </div>

            <h1 class="h1">Снаряжение</h1>
            <div class="d-flex justify-content-end">
                <p class="txt-fs-13 txt-medium">
                    Вид:
                    <span class="d-inline-flex ml-1">
                        <a href="#" class="txt-blue mr-1">{% include "./inc/svg/i-lines.svg" %}</a>
                        <a href="#" class="txt-gray">{% include "./inc/svg/i-view.svg" %}</a>
                    </span>
                </p>
            </div>
            <div class="mb-5">
                <h3 class="h3">Ножи</h3>
                {% include "inc/pages/catalog/catalog-rows.twig" %}
            </div>
        </div>
    </section>

{% endblock %}
