{% extends './inc/page.twig' %}

{% block content %}
<section class="mt-2 mb-5">
    <div class="container">
        {% include "inc/breadcrumb.twig" %}
    </div>
</section>

<section class="container section-row mb-4">
    <div class="section-col section-col--sm">
        {% include "inc/pages/lk/aside-nav.twig" %}
    </div>
    <div class="section-col section-col--lg">
        <div class="mb-3">
            <img src="https://via.placeholder.com/850x80" alt="" class="w-100p">
        </div>

        <div class="mb-5">
            <h3 class="h3">Промокоды</h3>
            <form class="ordr-step-form mb-1 js-form-promocode">
                <div class="ordr-step-form-col">
                    <input type="text" placeholder="Укажите кодовое слово или сертификат" class="ordr-step-form__input js-input">
                </div>
                <button class="ordr-step-form__btn is-disabled js-btn">Активировать</button>
            </form>
            <p>Кодовое слово или сертификат позволяют получить особые условия покупки.</p>
        </div>

        <div class="mb-5">
            <form class="ordr-step-form mb-1 js-form-promocode">
                <div class="ordr-step-form-col">
                    <p class="txt-red txt-fs-13 txt-right pr-sm-1">Не верно ввели кодовое слово или сертификат</p>
                    <input type="text" placeholder="" class="ordr-step-form__input js-input is-error">
                </div>
                <button class="ordr-step-form__btn is-disabled js-btn">Активировать</button>
            </form>
        </div>

        <div>
            <h3 class="h3 txt-semi-bold">Активированные кодовые слова</h3>

            <div class="pcode-table">
                <div class="pcode-table-head">
                    <div class="pcode-table-row">
                        <div class="pcode-table-col">Кодовое слово</div>
                        <div class="pcode-table-col is-last">Время активации</div>
                    </div>
                </div>
                <div class="pcode-table-body">
                    <div class="pcode-table-row">
                        <div class="pcode-table-col">promocod</div>
                        <div class="pcode-table-col is-last">15 июня 2019 в 4:22</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
