{% extends './inc/page.twig' %}

{% block content %}
<section class="mt-2 mb-5">
    <div class="container">
        {% include "inc/breadcrumb.twig" %}
    </div>
</section>

<section class="container section-row mb-4">
    <div class="section-col section-col--sm">
        {% include "inc/pages/lk/aside-nav.twig" %}
    </div>
    <div class="section-col section-col--lg">
        <div class="mb-5">

            {% include "inc/pages/lk/lk-return.twig" %}
        </div>

    </div>
</section>

{% endblock %}
