{% extends './inc/page.twig' %}
{% set items = [
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    },
    {
        bg: 'images/temp/b2.jpg',
        txt: 'Отзыв владельца многофункциональной лопаты brandcamp.'
    }
] %}

{% block content %}
<section class="mt-2 mb-5">
    <div class="container">
        {% include "inc/breadcrumb.twig" %}
    </div>
</section>

<section class="container section-row mb-4 mb-md-8">
    <div class="section-col section-col--sm">
        {% include "inc/pages/lk/aside-nav-2.twig" %}
    </div>
    <div class="section-col section-col--lg">
        <div class="mb-5">
            <div class="d-flex flex-wrap mb-1">
                <h1 class="h1 mr-7">Отзывы Video</h1>
                <a href="#" class="h1 txt-gray">Отзывы Instagram</a>
            </div>

            <ul class="review-video-list">
                {% for item in items %}
                    <li>
                        <a href="#" class="review-video">
                            <span class="review-video__bg" style="background-image: url('{{ item.bg }}')">
                                <span class="review-video__ico">
                                    {% include "./inc/svg/i-play.svg" %}
                                </span>
                            </span>
                            <span class="review-video__p">{{ item.txt }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% include "inc/pagination.twig" %}

    </div>
</section>

{% endblock %}
