{% extends './inc/page.twig' %}
{% set items = [
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 1'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 2'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 3'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 4'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 5'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 6'
    },
    {
        bg: 'https://via.placeholder.com/265x370',
        author: 'author 7'
    }
] %}

{% block content %}
<section class="mt-2 mb-5">
    <div class="container">
        {% include "inc/breadcrumb.twig" %}
    </div>
</section>

<section class="container section-row mb-4 mb-md-9">
    <div class="section-col section-col--sm">
        {% include "inc/pages/lk/aside-nav-2.twig" %}
    </div>
    <div class="section-col section-col--lg">
        <div class="mb-5">
            <div class="d-flex flex-wrap mb-3">
                <a href="#" class="h1 txt-gray mr-7">Отзывы Video</a>
                <h1 class="h1">Отзывы Instagram</h1>
            </div>

            <div class="review-insta-list popup-gallery">
                {% for item in items %}
                    <a href="{{ item.bg }}" class="review-insta js-review-insta" title="{{ item.author }}">
                        <span class="review-insta__bg" style="background-image: url('{{ item.bg }}')"></span>
                    </a>
                {% endfor %}
            </div>
        </div>

        {% include "inc/pagination.twig" %}

    </div>
</section>

{% endblock %}
