<div class="shc-cards">
    <div class="shc-card">
        <div class="d-flex justify-content-between mb-2">
            <div>
                <p class="shc-card__p--md txt-semi-bold mb-0">Товары на сумму</p>
                <p class="shc-card__p--sm">3 товара: 8 кг</p>
            </div>
            <p class="shc-card__p--lg txt-bold">50 500 ₽</p>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <p class="shc-card__p--md txt-semi-bold txt-red">Скидка</p>
            <p class="shc-card__p--lg txt-bold txt-red">- 840 ₽</p>
        </div>

        <div class="shc-card__line"></div>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="shc-card__p--md txt-semi-bold">Итого</p>
            <p class="shc-card__p--xlg txt-bold">41 760 ₽</p>
        </div>
        <p class="shc-card__p txt-medium">Выберите товары, чтобы перейти к оформлению заказа</p>
        <a href="#" class="shc-card__btn shc-card__btn--blue is-disabled">Перейти к оформлению</a>
        <a href="#" class="shc-card__btn shc-card__btn--blue">Перейти к оформлению</a>
        <p class="shc-card__p mb-0">Доступные способы и время доставки можно выбрать при оформлении заказа.</p>
    </div>

    <div class="shc-card">
        <a href="#" class="shc-card__btn shc-card__btn--yellow is-disabled">Оформить в рассрочку</a>
        <a href="#" class="shc-card__btn shc-card__btn--yellow">Оформить в рассрочку</a>
        <p class="shc-card__p">Беспроцентная рассрочка на 10 месяцев без дополнительных переплат</p>
        <p class="shc-card__p txt-medium mb-0">Для оформления заказа в рассрочку необходимо добавить товаров на сумму 3000 руб.</p>
    </div>
</div>
