<ul class="shc-list list-default">
    <li>
        <div class="shc-item">
            <div class="shc-item-row">
                <div class="shc-item-row__left">
                    <div class="shc-item__chbx">
                        <div class="custom-checkbox">
                            <input type="checkbox" class="custom-control-checkbox" id="custom1">
                            <label class="custom-control-label" for="custom1"></label>
                        </div>
                    </div>
                    <div><img src="https://via.placeholder.com/70x70" alt="" class="shc-item__pic"></div>
                </div>
                <div class="shc-item-row__right">
                    <div class="shc-item-row sp-btw">
                        <div class="shc-item-col shc-item-col--frst">
                                <div class="shc-item__sup-descr">
                                    Рассрочка от
                                    <b>1 900 ₽</b> / мес
                                </div>
                                <h4 class="shc-item__descr">Многофункциональная лопата "Brandcamp" модель XL5</h4>
                                <p class="shc-item__p">цвет черный, 2.9 кг</p>
                        </div>
                        <div class="shc-item-col shc-item-col--scnd">
                            <div class="shc-item__price">15 500 ₽</div>
                        </div>
                        <div class="shc-item-col shc-item-col--thrd">
                            <div class="shc-item__control-input">
                                <button class="shc-item__btn shc-item__btn--l">-</button>
                                <input type="text" value="2" readonly class="shc-item__input">
                                <button class="shc-item__btn shc-item__btn--r">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shc-item-row shc-item-row--scnd">
                <span>ico</span>
                <span>ico</span>
            </div>
        </div>
    </li>
    <li>
        <div class="shc-item">
            <div class="shc-item-row">
                <div class="shc-item-row__left">
                    <div class="shc-item__chbx">
                        <div class="custom-checkbox">
                            <input type="checkbox" class="custom-control-checkbox" id="custom2">
                            <label class="custom-control-label" for="custom2"></label>
                        </div>
                    </div>
                    <div><img src="https://via.placeholder.com/70x70" alt="" class="shc-item__pic"></div>
                </div>
                <div class="shc-item-row__right">
                    <div class="shc-item-row sp-btw">
                        <div class="shc-item-col shc-item-col--frst">
                                <div class="shc-item__sup-descr">
                                    Рассрочка от
                                    <b>1 900 ₽</b> / мес
                                </div>
                                <h4 class="shc-item__descr">Средство для разведения огня в
                                        любых погодных условиях
                                        Brandcamp "Fire Stick"
                                        </h4>
                                <p class="shc-item__p">695 гр</p>
                        </div>
                        <div class="shc-item-col shc-item-col--scnd">
                            <span class="card-pdct-tags__item bg-red">-20%</span>
                            <div class="shc-item__price shc-item__price--sm txt-crossline">7 600 ₽</div>
                            <div class="shc-item__price txt-red">6 760 ₽</div>
                        </div>
                        <div class="shc-item-col shc-item-col--thrd">
                            <div class="shc-item__control-input">
                                <button class="shc-item__btn shc-item__btn--l is-disabled">-</button>
                                <input type="text" value="1" readonly class="shc-item__input">
                                <button class="shc-item__btn shc-item__btn--r">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shc-item-row shc-item-row--scnd">
                <span>ico</span>
                <span>ico</span>
            </div>
        </div>
    </li>
    <li>
        <div class="shc-item">
            <div class="shc-item-row">
                <div class="shc-item-row__left">
                    <div class="shc-item__chbx">
                        <div class="custom-checkbox">
                            <input type="checkbox" class="custom-control-checkbox" id="custom3">
                            <label class="custom-control-label" for="custom3"></label>
                        </div>
                    </div>
                    <div><img src="https://via.placeholder.com/70x70" alt="" class="shc-item__pic"></div>
                </div>
                <div class="shc-item-row__right">
                    <div class="shc-item-row sp-btw">
                        <div class="shc-item-col shc-item-col--frst">
                                <div class="shc-item__sup-descr">
                                    Рассрочка от
                                    <b>1 900 ₽</b> / мес
                                </div>
                                <h4 class="shc-item__descr">Ботинки Brandcamp</h4>
                                <p class="shc-item__p">цвет бежевый, размер 40, 1.3 кг</p>
                        </div>
                        <div class="shc-item-col shc-item-col--scnd">
                            <div class="shc-item__price">19 500 ₽</div>
                        </div>
                        <div class="shc-item-col shc-item-col--thrd">
                            <div class="shc-item__control-input">
                                <button class="shc-item__btn shc-item__btn--l is-disabled">-</button>
                                <input type="text" value="1" readonly class="shc-item__input">
                                <button class="shc-item__btn shc-item__btn--r">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shc-item-row shc-item-row--scnd">
                <span>ico</span>
                <span>ico</span>
            </div>
        </div>
    </li>
</ul>
