<div id="aside-nav" class="aside-nav js-aside-nav">
    <h3 class="aside-nav__h3">Каталог</h3>
    <ul class="list-default">
        <li>
            <a href="#" class="aside-nav__link txt-fs-15">Все товары</a>
        </li>
        <li>
            <a href="#link1" class="aside-nav__link txt-fs-15 is-active is-toggle"  data-toggle="collapse" aria-expanded="true">
                Снаряжение
                <span class="aside-nav__link__ico">{% include "../../svg/i-check.svg" %}</span>
            </a>
            <div id="link1" class="collapse show">
                <ul class="list-default pl-3 my-1">
                    <li><a href="#" class="aside-nav__link txt-fs-15">ножи</a></li>
                    <li><a href="#" class="aside-nav__link txt-fs-15">набор выживания</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-15">Обувь</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-15">Одежда</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-15">Ремесленные товары</a>
        </li>
    </ul>
</div>
