<div class="aside-nav">
    <h3 class="aside-nav__h3">Личная информация</h3>

    <ul class="list-default">
        <li>
            <a href="#" class="aside-nav__link">Профиль</a>
        </li>
        <li>
            <a href="./lk-promocodes.html" class="aside-nav__link">Промокоды</a>
        </li>
    </ul>

    <h3 class="aside-nav__h3">Заказы</h3>

    <ul class="list-default">
        <li>
            <a href="#" class="aside-nav__link">Моя корзина</a>
        </li>
        <li>
            <span class="aside-nav__link is-active">Мои заказы</span>
        </li>
        <li>
            <a href="./lk-bought.html" class="aside-nav__link">Купленные товары</a>
        </li>
        <li>
            <a href="./lk-returns.html" class="aside-nav__link">Мои возвраты</a>
        </li>
    </ul>

    <h3 class="aside-nav__h3">Отзывы</h3>

    <ul class="list-default">
        <li>
            <a href="#" class="aside-nav__link">Brandcamp Premium</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link">Подписки</a>
        </li>
        <li>
            <a href="./lk-reviews.html" class="aside-nav__link">Мои отзывы</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link">Избранное</a>
        </li>
    </ul>
</div>
