<div class="aside-nav">
    <ul class="list-default">
        <li>
            <a href="#" class="aside-nav__link txt-fs-16">О компании</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-16">Блог</a>
        </li>
        <li>
            <span class="aside-nav__link is-active txt-fs-16">Отзывы</span>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-16">Новости</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-16">Сотрудничество</a>
        </li>
        <li>
            <a href="#" class="aside-nav__link txt-fs-16">Контакты</a>
        </li>
    </ul>
</div>
