<div class="order-item order-item--inner mb-3">
    <div class="order-item-top">
        <div class="order-item-top__l mb-0">
            <div class="mb-4">
                <p class="order-item__title">Возврат</p>
                <p class="order-item__p">
                    <a href="#" class="link-custom">№ 123123123-123-123</a>
                </p>
            </div>

            <p class="txt-semi-bold">Список товаров</p>

            <div class="mb-1">
                <div class="depart-prdt">
                    <div class="depart-prdt-col col-1">
                        <img src="images/temp/botinki_kor.jpg" alt="" class="depart-prdt__pic">
                    </div>
                    <div class="depart-prdt-col col-2">
                        <p class="mb-1">Многофункциональная лопата "Brandcamp" модель XL5</p>
                        <p class="txt-gray">цвет черный, 2.9 кг</p>
                    </div>
                    <div class="depart-prdt-col col-3">
                        <p>1 шт.</p>
                    </div>
                </div>
                <div class="depart-prdt">
                    <div class="depart-prdt-col col-1">
                        <img src="images/temp/botinki_cher.jpg" alt="" class="depart-prdt__pic">
                    </div>
                    <div class="depart-prdt-col col-2">
                        <p class="mb-1">Ботинки Brandcamp</p>
                        <p class="txt-gray">цвет бежевый, размер 40, 1.3 кг</p>
                    </div>
                    <div class="depart-prdt-col col-3">
                        <p>1 шт.</p>
                    </div>
                </div>
            </div>

            <div class="order-item-price">
                <div class="d-flex mb-1 relative">
                    <div class="order-item-price__col">
                        <p class="txt-bold txt-fs-16">Способ возврата</p>
                        <p class="txt-fs-14">Принесите товар а пункт выдачи
                            заказов СДЭК для оформления
                            возврата.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap my-3">
    <a href="#" class="pdct__btn pdct__btn--white w-240">Причина возврата</a>
</div>

<hr>
<div class="d-flex flex-wrap align-items-center justify-content-between mt-2">
    <p class="txt-fs-18 txt-bold">
        Сумма к возврату
        <span class="ml-5">49 000 ₽</span>
    </p>
    <div>
            <a href="#" class="pdct__btn pdct__btn--white w-240">Оформить возврат</a>
    </div>
</div>
