<ul class="order-list">
    <li>
        <div class="order-item">
            <div class="order-item-top">
                <div class="order-item-top__l">
                    <p>Заказ от 21 сентября</p>
                    <p>123123123-123-123</p>
                    <div>создан</div>
                </div>
                <div class="order-item-top__r">
                    <p>
                        <span>К оплате</span>
                        <span>49 000 ₽</span>
                    </p>
                    <p>Наличными или банковской картой</p>
                </div>
            </div>

            <div class="order-item-body">

            </div>

            <div class="order-item-footer">

            </div>
        </div>
    </li>
</ul>
