<div class="order-item order-item--inner mb-3">
    <div class="order-item-top">
        <div class="order-item-top__l mb-0">
            <div class="mb-4">
                <p class="order-item__title">Заказ от 21 сентября</p>
                <p class="order-item__p">
                    <a href="#" class="link-custom">123123123-123-123</a>
                </p>
            </div>

            <div class="pl-4 mb-3 relative">
                <div class="order-item__ico">
                    {% include "../../svg/i-calendar.svg" %}
                </div>
                <p class="txt-bold txt-fs-14">Дата доставки</p>
                <p class="order-item__p">25 сентября с 17:00 до 18:00</p>
            </div>

            <div class="pl-4 mb-3 relative">
                <div class="order-item__ico">
                    {% include "../../svg/i-map.svg" %}
                </div>
                <p class="txt-bold txt-fs-14">Доставка в пункт выдачи</p>
                <p>пункт Партнера, Чебоксары, г. Чебоксары, ул. Ярославская, д.72</p>
                <div class="d-flex justify-content-between  mb-2 mt-1 mw-280">
                    <p>ср, 25 сентября</p>
                    <p>09:00 - 18:00</p>
                </div>
                <p>
                    <a href="#" class="link-custom">Часы работы в другие дни и карта</a>
                </p>
            </div>

            <div class="pl-4 relative">
                <div class="order-item__ico">
                    {% include "../../svg/i-profile.svg" %}
                </div>
                <p class="txt-bold txt-fs-14">Получатель</p>
                <p class="order-item__p">
                    Яковлева Яна
                </p>
                <p class="order-item__p">
                    lisa-krasa-89@mail.ru
                </p>
                <p class="order-item__p">
                    89196688208
                </p>
            </div>

            <div class="order-item-price">
                <div class="d-flex pl-4 mb-1 relative">
                    <div class="order-item-price__ico">
                        {% include "../../svg/i-card.svg" %}
                    </div>
                    <div class="order-item-price__col is-l">
                        <p class="txt-bold txt-fs-16">Сумма к оплате</p>
                        <p class="txt-fs-14">Наличными или банковской&nbsp;картой </p>
                    </div>
                    <div class="order-item-price__col is-r">
                        <p class="txt-bold txt-fs-16">49 000 ₽</p>
                    </div>
                </div>
                <div class="d-flex pl-4 mb-1">
                    <div class="order-item-price__col is-l">
                        <p class="txt-bold txt-fs-14">Товары</p>
                    </div>
                    <div class="order-item-price__col is-r">
                        <p>49 000 ₽</p>
                    </div>
                </div>
                <div class="d-flex pl-4 mb-1">
                    <div class="order-item-price__col is-l">
                        <p class="txt-bold txt-fs-14">Доставка</p>
                    </div>
                    <div class="order-item-price__col is-r">
                        <p>Бесплатно</p>
                    </div>
                </div>
                <div class="d-flex pl-4">
                    <div class="order-item-price__col is-l">
                        <p class="txt-bold txt-fs-18">Итого</p>
                    </div>
                    <div class="order-item-price__col is-r">
                        <p class="txt-bold txt-fs-20">49 000 ₽</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap my-3">
    <a href="#" class="pdct__btn pdct__btn--white mr-4 mb-1 w-160">Отменить</a>
    <a href="#" class="pdct__btn pdct__btn--white mr-4 mb-1 w-160">Повторить</a>
    <a href="#" class="pdct__btn pdct__btn--white mb-1 w-160">Возврат</a>
</div>
