<div class="depart-outer">
    <a class="d-flex justify-content-between w-100p txt-black txt-dec-none" data-toggle="collapse" href="#depart" aria-expanded="true">
        <span class="txt-bold txt-fs-22">Отправление</span>
        <span class="sp__ico d-inline-block">{% include "../../svg/i-check.svg" %}</span>
    </a>

    <div id="depart" class="collapse show">
        <div class="depart-steps">
            <div class="depart-steps-item">
                <p class="depart-steps__p txt-medium">Заказ <br>принят</p>
                <div class="depart-steps__point is-done"></div>
                <div class="depart-steps__line is-done"></div>
            </div>
            <div class="depart-steps-item">
                <p class="depart-steps__p txt-center">Товар передан в <br>транспортную компанию</p>
                <div class="depart-steps__point is-done"></div>
                <div class="depart-steps__line is-part"></div>
            </div>
            <div class="depart-steps-item">
                <p class="depart-steps__p txt-center txt-gray">Товар едет к вам</p>
                <div class="depart-steps__point"></div>
                <div class="depart-steps__line"></div>
            </div>
            <div class="depart-steps-item">
                <p class="depart-steps__p txt-center txt-gray">Товар на складе,<br>приезжайте</p>
                <div class="depart-steps__point"></div>
                <div class="depart-steps__line"></div>
            </div>
            <div class="depart-steps-item">
                <p class="depart-steps__p txt-center txt-gray">Курьер уже<br>бежит к вам</p>
                <div class="depart-steps__point"></div>
                <div class="depart-steps__line"></div>
            </div>
            <div class="depart-steps-item is-last">
                <p class="depart-steps__p txt-right txt-gray">Выполнено</p>
                <div class="depart-steps__point"></div>
            </div>
        </div>

        <div class="depart-inner">
            <div class="depart-inner-left">
                <div class="depart-prdt">
                    <div class="depart-prdt-col col-1">
                        <img src="https://via.placeholder.com/70x70" alt="" class="depart-prdt__pic">
                    </div>
                    <div class="depart-prdt-col col-2">
                        <p class="mb-1">Многофункциональная лопата "Brandcamp" модель XL5</p>
                        <p class="txt-gray">цвет черный, 2.9 кг</p>
                    </div>
                    <div class="depart-prdt-col col-3">
                        <p>1 шт.</p>
                    </div>
                    <div class="depart-prdt-col col-4">
                        <p class="txt-fs-14">15 500 ₽</p>
                    </div>
                </div>
                <div class="depart-prdt">
                    <div class="depart-prdt-col col-1">
                        <img src="https://via.placeholder.com/70x70" alt="" class="depart-prdt__pic">
                    </div>
                    <div class="depart-prdt-col col-2">
                        <p class="mb-1">Ботинки Brandcamp</p>
                        <p class="txt-gray">цвет бежевый, размер 40, 1.3 кг</p>
                    </div>
                    <div class="depart-prdt-col col-3">
                        <p>1 шт.</p>
                    </div>
                    <div class="depart-prdt-col col-4">
                        <p class="txt-fs-14">19 500 ₽</p>
                    </div>
                </div>

                <div class="d-flex justify-content-between pt-3">
                    <p>2 товара 800 г</p>
                    <p class="txt-bold txt-fs-16">49 000 ₽</p>
                </div>
            </div>

            <div class="depart-inner-right">
                <div class="relative pl-3 mb-2">
                    <span class="depart-inner__ico">
                        {% include "../../svg/i-calendar.svg" %}
                    </span>
                    <p class="txt-bold txt-fs-13">Дата доставки</p>
                    <p class="txt-fs-13">25 сентября с 17:00 до 18:00</p>
                </div>
                <div class="relative pl-3">
                    <span class="depart-inner__ico">
                        {% include "../../svg/i-map.svg" %}
                    </span>
                    <p class="txt-bold txt-fs-13">Доставка в пункт выдачи</p>
                    <p class="txt-fs-13 mb-1">
                        пункт Партнёра, Чебоксары,
                                                                г. Чебоксары, ул.
                                                                Ярославская, д. 72
                    </p>
                    <p class="txt-fs-13 mb-2">ср, 25 сентября 09:00 - 18:00</p>
                    <p class="txt-fs-13">
                        <a href="#" class="link-custom">Часы работы в другие дни и&nbsp;карта</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
