<ul class="order-list">
    <li>
        <div class="order-item">
            <div class="order-item-top">
                <div class="order-item-top__l">
                    <p class="order-item__title">Заказ от 21 сентября</p>
                    <p class="order-item__p">
                        <a href="#" class="link-custom">123123123-123-123</a>
                    </p>
                    <div class="order-item__state bg-green">создан</div>
                </div>
                <div class="order-item-top__r">
                    <p class="txt-bold">
                        <span class="txt-fs-16 mr-1">К оплате</span>
                        <span class="txt-fs-20">49 000 ₽</span>
                    </p>
                    <p class="txt-fs-14">Наличными или&nbsp;банковской&nbsp;картой</p>
                </div>
            </div>

            <div class="order-item-body">
                <div class="order-item-body__l">
                    <p class="txt-bold txt-fs-14">Дата доставки</p>
                    <p class="order-item__p">25 сентября с 17:00 до 18:00</p>
                </div>
                <div class="order-item-body__r">
                    <p class="txt-bold txt-fs-14">Доставка в пункт выдачи СДЭК</p>
                    <p class="order-item__p">пункт Партнера, Чебоксары, г. Чебоксары, ул. Ярославская, д.72</p>
                </div>
            </div>

            <div class="order-item-footer">
                <div class="order-item-imgs">
                    <a href="#"><img src="images/temp/botinki_cher.jpg" alt="" class="order-item-imgs__item"></a>
                    <a href="#"><img src="images/temp/botinki_kor.jpg" alt="" class="order-item-imgs__item"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="order-item">
            <div class="order-item-top">
                <div class="order-item-top__l">
                    <p class="order-item__title">Заказ от 21 сентября</p>
                    <p class="order-item__p">
                        <a href="#" class="link-custom">123123123-123-123</a>
                    </p>
                    <div class="order-item__state bg-green">в работе</div>
                </div>
                <div class="order-item-top__r">
                    <p class="txt-bold">
                        <span class="txt-fs-16 mr-1">К оплате</span>
                        <span class="txt-fs-20">49 000 ₽</span>
                    </p>
                    <p class="txt-fs-14">Наличными или&nbsp;банковской&nbsp;картой</p>
                </div>
            </div>

            <div class="order-item-body">
                <div class="order-item-body__l">
                    <p class="txt-bold txt-fs-14">Дата доставки</p>
                    <p class="order-item__p">25 сентября с 17:00 до 18:00</p>
                </div>
                <div class="order-item-body__r">
                    <p class="txt-bold txt-fs-14">Доставка в пункт выдачи СДЭК</p>
                    <p class="order-item__p">пункт Партнера, Чебоксары, г. Чебоксары, ул. Ярославская, д.72</p>
                </div>
            </div>

            <div class="order-item-footer">
                <div class="order-item-imgs">
                    <a href="#"><img src="images/temp/botinki_cher.jpg" alt="" class="order-item-imgs__item"></a>
                    <a href="#"><img src="images/temp/botinki_kor.jpg" alt="" class="order-item-imgs__item"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="order-item">
            <div class="order-item-top">
                <div class="order-item-top__l">
                    <p class="order-item__title">Заказ от 21 сентября</p>
                    <p class="order-item__p">
                        <a href="#" class="link-custom">123123123-123-123</a>
                    </p>
                    <div class="order-item__state bg-gray">отменен</div>
                </div>
                <div class="order-item-top__r">
                    <p class="txt-bold">
                        <span class="txt-fs-16 mr-1">К оплате</span>
                        <span class="txt-fs-20">49 000 ₽</span>
                    </p>
                    <p class="txt-fs-14">Наличными или&nbsp;банковской&nbsp;картой</p>
                </div>
            </div>

            <div class="order-item-body">
                <div class="order-item-body__l">
                    <p class="txt-bold txt-fs-14">Дата доставки</p>
                    <p class="order-item__p">25 сентября с 17:00 до 18:00</p>
                </div>
                <div class="order-item-body__r">
                    <p class="txt-bold txt-fs-14">Доставка в пункт выдачи СДЭК</p>
                    <p class="order-item__p">пункт Партнера, Чебоксары, г. Чебоксары, ул. Ярославская, д.72</p>
                </div>
            </div>

            <div class="order-item-footer">
                <div class="order-item-imgs">
                    <a href="#"><img src="images/temp/botinki_cher.jpg" alt="" class="order-item-imgs__item"></a>
                    <a href="#"><img src="images/temp/botinki_kor.jpg" alt="" class="order-item-imgs__item"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="order-item">
            <div class="order-item-top">
                <div class="order-item-top__l">
                    <p class="order-item__title">Заказ от 21 сентября</p>
                    <p class="order-item__p">
                        <a href="#" class="link-custom">123123123-123-123</a>
                    </p>
                    <div class="order-item__state bg-gray">выполнен</div>
                </div>
                <div class="order-item-top__r">
                    <p class="txt-bold">
                        <span class="txt-fs-16 mr-1">К оплате</span>
                        <span class="txt-fs-20">49 000 ₽</span>
                    </p>
                    <p class="txt-fs-14">Наличными или&nbsp;банковской&nbsp;картой</p>
                </div>
            </div>

            <div class="order-item-body">
                <div class="order-item-body__l">
                    <p class="txt-bold txt-fs-14">Дата доставки</p>
                    <p class="order-item__p">25 сентября с 17:00 до 18:00</p>
                </div>
                <div class="order-item-body__r">
                    <p class="txt-bold txt-fs-14">Доставка в пункт выдачи СДЭК</p>
                    <p class="order-item__p">пункт Партнера, Чебоксары, г. Чебоксары, ул. Ярославская, д.72</p>
                </div>
            </div>

            <div class="order-item-footer">
                <div class="order-item-imgs">
                    <a href="#"><img src="images/temp/botinki_cher.jpg" alt="" class="order-item-imgs__item"></a>
                    <a href="#"><img src="images/temp/botinki_kor.jpg" alt="" class="order-item-imgs__item"></a>
                </div>
            </div>
        </div>
    </li>
</ul>
