{% set items = [
    {
        pics: ['images/temp/sredstvo_dla_rodjiga.jpg'],
        title: 'BRANDCAMP FIRE STICK - 4 мощное средство для розжига',
        descr: 'Комплектация: Special series'
    },
    {
        pics: ['images/temp/L5.jpg'],
        title: 'BRANDCAMP FIRE STICK - 4 мощное средство для розжига',
        descr: ''
    },
    {
        pics: ['images/temp/botinki_kor.jpg'],
        title: 'BRANDCAMP FIRE STICK - 4 мощное средство для розжига',
        descr: 'Комплектация: Special series'
    },
    {
        pics: ['images/temp/botinki_cher.jpg'],
        title: 'BRANDCAMP FIRE STICK - 4 мощное средство для розжига',
        descr: 'Комплектация: Special series'
    },
    {
        pics: ['images/temp/botinki_kor.jpg'],
        title: 'BRANDCAMP FIRE STICK - 4 мощное средство для розжига',
        descr: 'Комплектация: Special series'
    }
] %}

<!-- Swiper -->
<div class="multy-slider multy-slider--outside">
    <div class="swiper-container js-multy-slider" data-perviewlg="3" data-perviewmd="2">
        <div class="swiper-wrapper">
            {% for item in items %}
            <div class="swiper-slide">
                <div class="card-pdct">
                    <div class="card-pdct-top">
                        <div class="swiper-container pics-slider js-pics-slider">
                            <div class="swiper-wrapper">
                                {% for pic in item.pics %}
                                <div class="swiper-slide swiper-no-swiping">
                                    <img src="{{ pic }}" alt="" class="card-pdct__pic">
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="card-pdct-body txt-black">
                        <a href="#" class="card-pdct__title">{{ item.title }}</a>
                        <p class="card-pdct__p">{{ item.descr }}</p>

                        <div class="my-2">
                            <p class="card-pdct__p txt-semi-bold">Причина возврата:</p>
                            <p class="card-pdct__p txt-fs-15">производственный брак</p>
                        </div>

                        <div>
                            <p class="card-pdct__p txt-semi-bold">Сумма к возврату:</p>
                            <p class="card-pdct__p txt-fs-22 txt-bold">12 500 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
