.aside-nav {

  &__h3 {
    font-size: 20px;
    font-weight: 550;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      font-weight: 600;

      &:not(.is-toggle) {
        pointer-events: none;
      }
    }
  }

  .list-default {
    margin-bottom: 20px;

    > li {
      margin-bottom: 7px;
    }
  }
}
