.txt {

  &-red {
    color: $red !important;
  }

  &-black {
    color: $black !important;
  }

  &-crossline {
    text-decoration: line-through;
  }

  &-medium {
    font-weight: 500;
  }
  &-semi-bold {
    font-weight: 550 !important;
  }
  &-bold {
    font-weight: 600;
  }

  &-fs-14 {
    font-size: 14px;
  }

  &-fs-18 {
    font-size: 18px;
  }

  &-fl-left {
    float: left;
  }
}
