.txt {

  &-red {
    color: $red !important;
  }

  &-black {
    color: $black !important;
  }

  &-blue {
    color: $blue !important;
  }

  &-gray {
    color: #848484 !important;
  }

  &-crossline {
    text-decoration: line-through;
  }

  &-medium {
    font-weight: 500;
  }
  &-semi-bold {
    font-weight: 550 !important;
  }
  &-bold {
    font-weight: 600;
  }

  &-fs-12 {
    font-size: 12px;
  }

  &-fs-14 {
    font-size: 14px;
  }

  &-fs-15 {
    font-size: 15px !important;
  }

  &-fs-16 {
    font-size: 16px !important;
  }

  &-fs-18 {
    font-size: 18px;
  }

  &-fs-20 {
    font-size: 20px;
  }

  &-fs-22 {
    font-size: 22px !important;
  }

  &-fs-30 {
    font-size: 30px;
  }

  &-fl-left {
    float: left;
  }
}
