.pcode-table {
  max-width: 555px;
  padding: 20px 30px;
  border: 1px solid #e5e5e5;

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-col {
    width: 49%;
    &.is-last {
      width: 40%;
      text-align: right;
    }
  }

  &-head {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c8c8c8;
    font-weight: 550;
  }
}
