<ul class="ordr-list list-default">
    <li>
        <div class="ordr-step">
            <div class="ordr-step-l">
                <div class="ordr-step__num is-active">1</div>
            </div>
            <div class="ordr-step-r">
                <div class="d-flex justify-content-between mb-3">
                    <h4 class="h4 mb-0">Ваши данные</h4>
                    <p>
                        <a href="#" class="ordr-step__link">Заказать как оптовик</a>
                    </p>
                </div>
                <div>
                    <p class="ordr-step__p">Авторизуйтесь для совершения заказа</p>
                    <a href="#" class="ordr-step__btn">Войти</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="ordr-step">
            <div class="ordr-step-l">
                <div class="ordr-step__num">2</div>
            </div>
            <div class="ordr-step-r">
                <h4 class="h4">Способы доставки</h4>
                <div class="ordr-step__btn-group">
                    <button class="ordr-step__btn ordr-step__btn--outline mr-3">Курьером в руки</button>
                    <button class="ordr-step__btn ordr-step__btn--outline">До пункта выдачи заказов (ПВЗ)</button>
                </div>
                <div>
                    <p class="ordr-step__h5">Доставим</p>
                    <p class="ordr-step__p ordr-step__p--light">3 товара: Вес 9,1кг</p>
                </div>
                <div class="ordr-step-gallery">
                    <img src="https://via.placeholder.com/70x70" alt="" class="ordr-step-gallery__pic">
                    <img src="https://via.placeholder.com/70x70" alt="" class="ordr-step-gallery__pic">
                    <img src="https://via.placeholder.com/70x70" alt="" class="ordr-step-gallery__pic">
                </div>
                <div class="ordr-step-info">
                    <div class="ordr-step-info-col">
                        <p class="ordr-step__p txt-semi-bold mb-0">Ожидаемая дата доставки</p>
                        <p class="ordr-step__p ordr-step__p--light mb-0">5 июня</p>
                    </div>
                    <div class="ordr-step-info-col">
                        <p class="ordr-step__p txt-semi-bold mb-0">Стоимость доставки</p>
                        <p class="ordr-step__p ordr-step__p--light mb-0"><span class="txt-crossline txt-medium">500
                                ₽</span> Бесплатно</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="ordr-step">
            <div class="ordr-step-l">
                <div class="ordr-step__num">3</div>
            </div>
            <div class="ordr-step-r">
                <h4 class="h4">Способы оплаты</h4>

                <form class="ordr-step-form mb-2">
                    <input type="text" placeholder="Укажите промокод" class="ordr-step-form__input">
                    <button class="ordr-step-form__btn is-disabled">Активировать</button>
                </form>

                <div class="ordr-step__btn-group mb-2">
                    <button class="ordr-step__btn ordr-step__btn--outline mr-3">Оплата при получении</button>
                    <a href="#" class="ordr-step__btn ordr-step__btn--outline">Оплата visa, mastercart&nbsp;онлайн</a>
                </div>

                <a href="#" class="ordr-step__link">Все способы оплаты</a>
            </div>
        </div>
    </li>
</ul>
