<div class="shc-cards">
    <div class="shc-card">
        <div class="d-flex justify-content-between mb-2">
            <div>
                <p class="shc-card__p--md txt-semi-bold mb-0">Товары на сумму</p>
                <p class="shc-card__p--sm">3 товара: 8 кг</p>
            </div>
            <p class="shc-card__p--lg txt-bold">50 500 ₽</p>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <p class="shc-card__p--md txt-semi-bold txt-red">Скидка</p>
            <p class="shc-card__p--lg txt-bold txt-red">- 840 ₽</p>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <div>
                <p class="shc-card__p--md txt-semi-bold mb-0">Доставка</p>
                <p class="shc-card__p--sm">5 июня</p>
            </div>
            <div class="d-flex">
                <p class="shc-card__p--lg txt-bold txt-crossline mr-2">500 ₽</p>
                <p class="shc-card__p--smd txt-medium">Бесплатно</p>
            </div>
        </div>

        <div class="shc-card__line"></div>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="shc-card__p--md txt-semi-bold">Итого</p>
            <p class="shc-card__p--xlg txt-bold">41 760 ₽</p>
        </div>

        <a href="#" class="shc-card__btn shc-card__btn--blue">Перейти к оплате</a>
        <p class="shc-card__p mb-0">Нажимая на кнопку, вы подтверждаете своё
            совершеннолетие, соглашаетесь на обработку
            персональных данных в соответствии
            с Условиями, а также с Условиями продажи</p>
    </div>
</div>
