.multy-slider {
  padding: 0 15px;

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    padding: 0 30px;
  }

  @include media-breakpoint-up(md) {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;

    > .swiper-container {
      padding: 0 29px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }

    .swiper-button-next {
      right: 1px;
    }
    .swiper-button-prev {
      left: 1px;
    }
  }
}
