.pics-slider {
  padding-bottom: 20px;

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 1px !important;
    background-color: #c8c8c8;
    opacity: 1;

    &:only-child {
      display: none;
    }

    &-active {
      background-color: #252525
    }
  }
}
