<div class="pdct-card">
    <div class="pdct-price-flex">
        <p class="pdct__price txt-crossline">19 500 ₽</p>
        <p class="pdct__price pdct__price--new txt-red">19 000 ₽</p>
    </div>
    <div class="card-pdct-tags mb-3">
        <span class="card-pdct-tags__item bg-red">-20%</span>
        <span class="card-pdct-tags__item bg-orange">хит продаж</span>
    </div>

    <p class="pdct__p mb-1"><span>i</span> Товар в наличии</p>

    <div class="d-flex flex-wrap mb-1">
        <p class="pdct__p txt-semi-bold mr-1">Самовывоз:</p>
        <p class="pdct__p">Бесплатно</p>
    </div>

    <div class="d-flex flex-wrap mb-2">
        <p class="pdct__p txt-semi-bold mr-1">Доставка:</p>
        <div class="w-100p">
            <p class="pdct__p">Пункт выдачи: 500 рублей</p>
            <p class="pdct__p">Курьером в руки: 500 рублей</p>
        </div>
    </div>

    <div>
        <a href="#" class="pdct__btn mb-1">Заказать</a>
        <a href="#" class="pdct__btn pdct__btn--white">В корзину</a>
    </div>
</div>
