<div class="accordion" id="accordionParent">
    <div class="accordion-horizontal">
        <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse1"
            aria-expanded="true">
            Описание
        </button>
        <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse2"
            aria-expanded="false">
            Доставка
        </button>
        <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse3"
            aria-expanded="false">
            Отзывы
        </button>
        <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse4"
            aria-expanded="false">
            Возврат
        </button>
        <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse5"
            aria-expanded="false">
            Вопрос-ответ
        </button>
    </div>
    <div class="accordion-card">
        <div class="accordion-card__header">
            <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true">
                Описание
            </button>
        </div>

        <div id="collapse1" class="collapse show" data-parent="#accordionParent">
            <div class="accordion-card__body">
                <div class="mb-4">
                    <h4 class="h4">Краткое описание</h4>
                    <p class="accordion__p">Тактические ботинки B1 разработаны для специальных военных операций в различных
                        климатических зонах
                        и условий эксплуатации. Данная модель успешно используется в силовых структурах специального
                        назначения многих стран. Всем известно, что военная приёмка самая требовательная. А благодаря
                        современному дизайну,ботинки отлично подходят для повседневной жизни
                    </p>
                </div>

                <div class="mb-4">
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Вес:</p>
                        <p class="accordion__p">1.3 кг ( на примере 41 размера песочного цвета)</p>
                    </div>
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Компоненты:</p>
                        <p class="accordion__p">верх обуви замша 2мм из обработанной коровьей шкуры. нейлон 1200D</p>
                    </div>
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Подошва:</p>
                        <p class="accordion__p">PU/RB изготовлено цельной формой (каучук/полиуретан/кевларовые волокна)</p>
                    </div>
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Цвет:</p>
                        <p class="accordion__p">черный / песочный</p>
                    </div>
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Размеры:</p>
                        <p class="accordion__p">36 44</p>
                    </div>
                    <div class="d-flex">
                        <p class="accordion__p txt-semi-bold mr-1">Дизайн:</p>
                        <p class="accordion__p">мужской и женский фасон не различается</p>
                    </div>
                </div>

                <h4 class="h4">В комплект входит</h4>

                <ul class="list-custom mb-3">
                    <li>Ботинки влагозащитные тактические В1</li>
                    <li>Собожный нож1</li>
                    <li>Упаковка фирменная</li>
                    <li>Инструкция по использованию и уход</li>
                </ul>

                <h4 class="h4">Предназначены для</h4>

                <ul class="list-custom mb-3">
                    <li>Специальных военных операций</li>
                    <li>Городского ежедневного использования</li>
                    <li>Повседневного отдыха</li>
                    <li>Восхождение в горы</li>
                    <li>Езды на велосипеде</li>
                    <li>Активного отдыха на природе</li>
                </ul>

                <div class="mb-7">
                    <img src="https://via.placeholder.com/850x850" alt="" class="mw-100p">
                    <img src="https://via.placeholder.com/850x850" alt="" class="mw-100p">
                </div>

                <div class="mb-4">
                    <img src="https://via.placeholder.com/850x850" alt="" class="mw-100p">
                </div>

                <div>
                    <h5 class="h5">Заголовок фотографии</h5>
                    <img src="https://via.placeholder.com/850x850" alt="" class="mw-100p">
                </div>

            </div>
        </div>
    </div>
    <div class="accordion-card">
        <div class="accordion-card__header">
            <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="false">
                Доставка
            </button>
        </div>

        <div id="collapse2" class="collapse" data-parent="#accordionParent">
            <div class="accordion-card__body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="accordion-card">
        <div class="accordion-card__header">
            <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse3"
                aria-expanded="false">
                Отзывы
            </button>
        </div>

        <div id="collapse3" class="collapse" data-parent="#accordionParent">
            <div class="accordion-card__body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="accordion-card">
        <div class="accordion-card__header">
            <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse4"
                aria-expanded="false">
                Возврат
            </button>
        </div>

        <div id="collapse4" class="collapse" data-parent="#accordionParent">
            <div class="accordion-card__body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="accordion-card">
        <div class="accordion-card__header">
            <button class="accordion-card__link" type="button" data-toggle="collapse" data-target="#collapse5"
                aria-expanded="false">
                Вопрос-ответ
            </button>
        </div>

        <div id="collapse5" class="collapse" data-parent="#accordionParent">
            <div class="accordion-card__body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
