<div class="pdct-gallery-wrapper js-gallery-wrapper">
    <div class="pdct-gallery-wrapper__l">
        <!-- Swiper -->
        <div class="pdct-gallery-vertical__arrow-prev js-vertical-prev"></div>
        <div class="pdct-gallery-vertical__arrow-next js-vertical-next"></div>
        <div class="swiper-container pdct-gallery-vertical js-pdct-vertical-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide is-active" data-rel="0">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-gallery-vertical__pic">
                </div>
                <div class="swiper-slide" data-rel="1">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-gallery-vertical__pic">
                </div>
                <div class="swiper-slide" data-rel="2">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-gallery-vertical__pic">
                </div>
                <div class="swiper-slide" data-rel="3">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-gallery-vertical__pic">
                </div>
                <div class="swiper-slide" data-rel="4">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-gallery-vertical__pic">
                </div>
            </div>
        </div>
    </div>
    <div class="pdct-gallery-wrapper__r">
        <div class="swiper-container pdct-gallery js-pdct-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/460x460" alt="" class="pdct-gallery__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/460x460" alt="" class="pdct-gallery__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/460x460" alt="" class="pdct-gallery__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/460x460" alt="" class="pdct-gallery__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/460x460" alt="" class="pdct-gallery__pic">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
