<div class="container">
    <div class="pdct-row">
        <div class="pdct-col">
            {% include "product-gallery.twig" %}

            <p class="pdct__p pdct__p--xs">Есть вопросы по товару? Обсудим сейчас: <span>i i i</span></p>
        </div>

        <div class="pdct-col pdct-item">
            <h1 class="h1 pdct__h1">Тактические ботинки Brandcamp B1 с ножом</h1>
            <div class="d-flex flex-wrap mb-2">
                <p class="pdct__p pdct__p--sm mr-3"><span>ico</span> просматривают: 3 человека</p>
                <p class="pdct__p">1837 заказов</p>
            </div>

            <ul class="pdct-list-links list-default">
                <li>
                    <p>i i i i i</p>
                </li>
                <li>
                    <a href="#" class="pdct__link">(55) отзывов</a>
                </li>
                <li>
                    <a href="#" class="pdct__link"><span>ico</span> Сравнить</a>
                </li>
                <li>
                    <a href="#" class="pdct__link"><span>ico</span> Отложить</a>
                </li>
                <li>
                    <a href="#" class="pdct__link"><span>ico</span> Поделиться</a>
                </li>
            </ul>

            <div class="pdct-row">
                <div class="pdct-col">
                    {% include "product-table.twig" %}
                </div>

                <div class="pdct-col">
                    {% include "card.twig" %}
                </div>
            </div>
        </div>
    </div>

    <div class="pdct-bottom">
        <div class="pdct-bottom-col">
            <div class="d-flex">
                <div class="flex-shrink-0 mr-1">i</div>
                <div class="flex-grow-1">
                    <p class="pdct__p txt-semi-bold">Гарантия на товар 1 год</p>
                    <p class="pdct__p pdct__p--xs">Согласитесь, что часто, когда мы видим какой-либо новый товар, то
                        нередко задаемся вопросом: насколько...</p>
                </div>
            </div>
        </div>
        <div class="pdct-bottom-col">
            <div class="d-flex">
                <div class="flex-shrink-0 mr-1">i</div>
                <div class="flex-grow-1">
                    <p class="pdct__p txt-semi-bold">Возврат денег в течении 30 дней - без вопросов!</p>
                    <p class="pdct__p pdct__p--xs">Если вы получили набор и сразу при
                        вскрытии обнаружили производственный
                        брак или во время...</p>
                </div>
            </div>
        </div>

    </div>
</div>
