<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Модель:</p>
    <p class="pdct__p pdct__p--md">B1 COYOTE</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Комплекация:</p>
    <p class="pdct__p pdct__p--md">ботинки с ножом</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Вес товара:</p>
    <p class="pdct__p pdct__p--md">1,3 кг (41 размер)</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Вес c упаковкой:</p>
    <p class="pdct__p pdct__p--md">1,7 кг</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Размеры упаковки:</p>
    <p class="pdct__p pdct__p--md">330/125/275 мм</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1">Цвет:</p>
    <p class="pdct__p pdct__p--md">Коричневый</p>
</div>
<div class="d-flex flex-wrap mb-1">
    <p class="pdct__p txt-semi-bold mr-1 mb-1">Выберите размер (RU):</p>
    <div class="w-100p">
        <ul class="pdct-list-size list-default">
            <li><span class="pdct__size">36</span></li>
            <li><span class="pdct__size">37</span></li>
            <li><span class="pdct__size">38</span></li>
            <li><span class="pdct__size">39</span></li>
            <li><span class="pdct__size is-active">40</span></li>
            <li><span class="pdct__size">41</span></li>
            <li><span class="pdct__size">42</span></li>
            <li><span class="pdct__size">43</span></li>
        </ul>
    </div>
    <p class="pdct__p pdct__p--xs">EU: 43   USA/M: 9   USA/W: 11   CM: 28.5 </p>
</div>
