<div class="pdct-review-card pb-3">
    <div class="d-flex align-items-center mb-3">
        <div class="mr-1">i i i i i</div>
        <div class="txt-fs-18 txt-semi-bold">4,9/5</div>
    </div>

    <div class="pdct-review-card__row">
        <div class="pdct-review-card__col-1">5 звезд</div>
        <div class="pdct-review-card__line">
            <div class="pdct-review-card__red" style="width: 95%;"></div>
        </div>
        <div class="pdct-review-card__col-3 txt-semi-bold">95%</div>
    </div>

    <div class="pdct-review-card__row">
        <div class="pdct-review-card__col-1">4 звезды</div>
        <div class="pdct-review-card__line">
            <div class="pdct-review-card__red" style="width: 5%;"></div>
        </div>
        <div class="pdct-review-card__col-3 txt-semi-bold">5%</div>
    </div>

    <div class="pdct-review-card__row">
        <div class="pdct-review-card__col-1">3 звезды</div>
        <div class="pdct-review-card__line">
            <div class="pdct-review-card__red" style="width: 0;"></div>
        </div>
        <div class="pdct-review-card__col-3 txt-semi-bold">0%</div>
    </div>
    <div class="pdct-review-card__row">
        <div class="pdct-review-card__col-1">2 звезды</div>
        <div class="pdct-review-card__line">
            <div class="pdct-review-card__red" style="width: 0;"></div>
        </div>
        <div class="pdct-review-card__col-3 txt-semi-bold">0%</div>
    </div>
    <div class="pdct-review-card__row">
        <div class="pdct-review-card__col-1">1 звезда</div>
        <div class="pdct-review-card__line">
            <div class="pdct-review-card__red" style="width: 0;"></div>
        </div>
        <div class="pdct-review-card__col-3 txt-semi-bold">0%</div>
    </div>
</div>

<ul class="pdct-review-list">
    <li>
        <div class="pdct-review-item">

            <div class="pdct-review-item__top">
                <div>
                    <p class="mb-1"><span>i</span> Россия</p>
                    <p class="txt-fs-18 txt-medium">Иванов Иван</p>
                </div>
                <div class="d-flex">
                    <p class="txt-medium">1 июля 2019</p>
                    <p>i i i i i</p>
                </div>
            </div>

            <div class="pdct-review-item__middle">
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Вариант товара: </p>
                    <p class="txt-semi-bold"><a href="#" class="link-custom">41 размер, черный цвет</a></p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Достоинства: </p>
                    <p>Всё очень классно</p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Недостатки: </p>
                    <p>Нету</p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Комментарии: </p>
                    <p>пользуюсь по сегодняшний день пользуюсь по сегодняшний день</p>
                </div>

                <div class="pdct-review__pic-list mt-4 mb-1">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-review__pic">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-review__pic">
                </div>
            </div>
            <div class="pdct-review-item__bottom">
                <div class="d-flex">
                    <div class="pdct-review__up"><span class="mr-1">ico </span> 2</div>
                    <div class="pdct-review__down"><span class="mr-1">ico</span> 0</div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="pdct-review-item">

            <div class="pdct-review-item__top">
                <div>
                    <p class="mb-1"><span>i</span> Россия</p>
                    <p class="txt-fs-18 txt-medium">Иванов Иван</p>
                </div>
                <div class="d-flex">
                    <p class="txt-medium">1 июля 2019</p>
                    <p>i i i i i</p>
                </div>
            </div>

            <div class="pdct-review-item__middle">
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Вариант товара: </p>
                    <p class="txt-semi-bold"><a href="#" class="link-custom">41 размер, черный цвет</a></p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Достоинства: </p>
                    <p>Всё очень классно</p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Недостатки: </p>
                    <p>Нету</p>
                </div>
                <div class="mb-1">
                    <p class="txt-fl-left txt-semi-bold mr-1">Комментарии: </p>
                    <p>пользуюсь по сегодняшний день пользуюсь по сегодняшний день</p>
                </div>

                <div class="pdct-review__pic-list mt-4 mb-1">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-review__pic">
                    <img src="https://via.placeholder.com/70x70" alt="" class="pdct-review__pic">
                </div>
            </div>
            <div class="pdct-review-item__bottom">
                <div class="d-flex">
                    <div class="pdct-review__up"><span class="mr-1">ico </span> 2</div>
                    <div class="pdct-review__down"><span class="mr-1">ico</span> 0</div>
                </div>
            </div>
        </div>
    </li>
</ul>
