<div class="mp-cnt mb-4 mb-md-6">
    <div class="mp-cnt-left d-none d-md-block">
        <p class="mp-cnt__p-lead">
            Brandcamp предлагает лучшее современное
            снаряжение для ваших будущих приключений.
            Основанная в 2017 году, наше путешествие только
            началось, мы предлагаем товары в сфере активного
            отдыха на природе.
            Мы продаём то, что используем сами!
        </p>
        <p class="mp-cnt__p">
            Ещё с детства наши отцы приучали нас к охоте на дикого зверя, учили
            делать снасти для рыбной ловли, водили в походы в лес, как и сейчас
            мы передаёмэтот опыт своим детям уже в 4 поколении.
            Наша цель - объединить этот реальный опыт с нашей любовью к
            природе, чтобы создавать качественные и инновационные продукты,
            которыепревосходят ваши
            требования.
        </p>
    </div>
    <div class="mp-cnt-right">
        <div class="swiper-container pics-slider js-pics-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/550x330" alt="" class="card-pdct__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/550x330" alt="" class="card-pdct__pic">
                </div>
                <div class="swiper-slide">
                    <img src="https://via.placeholder.com/550x330" alt="" class="card-pdct__pic">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<ul class="mp-cnt-list list-default">
    <li>
        <div class="mp-cnt-list-item">
            <div class="mp-cnt-list__icon">
                <img src="images/svg/i-10.svg" alt="" width="53" height="70">
            </div>
            <h4 class="mp-cnt-list__h4">100% удовлетворение гарантировано</h4>
            <p class="mp-cnt-list__p">У нас представлена только
                продукция, которая прошла
                проверку и тестирование в
                самых разных условиях.</p>
        </div>
    </li>
    <li>
        <div class="mp-cnt-list-item">
            <div class="mp-cnt-list__icon">
                <img src="images/svg/i-airplane.svg" alt="" width="73" height="56">
            </div>
            <h4 class="mp-cnt-list__h4">Доставка по
                всему миру</h4>
            <p class="mp-cnt-list__p">Согласитесь, что часто, когда
                мы видим какой-либо
                новый товар, то нередко
                задаемся вопросом.</p>
        </div>
    </li>
    <li>
        <div class="mp-cnt-list-item">
            <div class="mp-cnt-list__icon">
                <img src="images/svg/i-19.svg" alt="" width="73" height="56">
            </div>
            <h4 class="mp-cnt-list__h4">Гарантия на товары
                до 10 лет</h4>
            <p class="mp-cnt-list__p">Согласитесь, что часто, когда мы
                видим какой-либо новый товар, то
                нередко задаемся вопросом:
                насколько...</p>
        </div>
    </li>
    <li>
        <div class="mp-cnt-list-item">
            <div class="mp-cnt-list__icon">
                <img src="images/svg/i-20.svg" alt="" width="72" height="46">
            </div>
            <h4 class="mp-cnt-list__h4">Возврат денег в течении
                30 дней - без&nbsp;вопросов!</h4>
            <p class="mp-cnt-list__p">Если вы получили набор и сразу
                при вскрытии обнаружили
                производственный брак или во
                время...</p>
        </div>
    </li>
</ul>
