<!-- Swiper -->
<div class="intro-slider">
    <div class="swiper-container js-intro-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide intro-slider-slide"
                style="background-image: url('images/temp/banner.jpg')">
                <div class="intro-slider-slide__inner">
                    <h4 class="intro-slider-slide__title">Тактические ботинки</h4>
                    <p class="intro-slider-slide__p">
                        Противоскользящие, износостойкие,
                        водонепроницаемые, дышащие, устойчивые к проколам
                    </p>
                </div>
            </div>
            <div class="swiper-slide intro-slider-slide"
                style="background-image: url('images/temp/banner.jpg')">
                <div class="intro-slider-slide__inner">
                    <h4 class="intro-slider-slide__title">Тактические ботинки 2</h4>
                    <p class="intro-slider-slide__p">
                        Противоскользящие, износостойкие,
                        водонепроницаемые, дышащие, устойчивые к проколам
                    </p>
                </div>
            </div>
            <div class="swiper-slide intro-slider-slide"
                style="background-image: url('images/temp/banner.jpg')">
                <div class="intro-slider-slide__inner">
                    <h4 class="intro-slider-slide__title">Тактические ботинки 2</h4>
                    <p class="intro-slider-slide__p">
                        Противоскользящие, износостойкие,
                        водонепроницаемые, дышащие, устойчивые к проколам
                    </p>
                </div>
            </div>
            <div class="swiper-slide intro-slider-slide"
                style="background-image: url('images/temp/banner.jpg')">
                <div class="intro-slider-slide__inner">
                    <h4 class="intro-slider-slide__title">Тактические ботинки 2</h4>
                    <p class="intro-slider-slide__p">
                        Противоскользящие, износостойкие,
                        водонепроницаемые, дышащие, устойчивые к проколам
                    </p>
                </div>
            </div>
            <div class="swiper-slide intro-slider-slide"
                style="background-image: url('https://via.placeholder.com/1280x400')">
                <div class="intro-slider-slide__inner">
                    <h4 class="intro-slider-slide__title">Тактические ботинки 2</h4>
                    <p class="intro-slider-slide__p">
                        Противоскользящие, износостойкие,
                        водонепроницаемые, дышащие, устойчивые к проколам
                    </p>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
